##############################################Core3S500E#################################################
NET "clk" LOC = "P184" ;
NET "RST" LOC = "P101" ;

NET "UART_TX" LOC = "p178" ; 
NET "UART_RX" LOC = "p172" ; 

NET "led[0]" LOC =" P68";
NET "led[1]" LOC = "P78" ;
NET "led[2]" LOC = "P83" ;
NET "led[3]" LOC = "P89";

NET "tx[0]"  LOC = "p2";
NET "tx[1]"  LOC = "p4";
NET "tx[2]"  LOC = "p196"; //8
NET "tx[3]"  LOC = "p199"; //9
